@model Website_BanQuanAo_HoHoangHuy.Models.LoaiSanPham

@{
    ViewBag.Title = "Edit";
}
<div class="container mx-auto">
    <h2>Thay đổi loại sản phẩm</h2>
    <form action="/Admin/Category/Edit" method="post">
        <input type="hidden" name="MaLoaiSP" value="@Model.MaLoaiSP" />
        <div class="row">
            <div class="col-12 mb-3">
                <label for="TenLoaiSP" class="form-label">Tên loại sản phẩm</label>
                <input type="text" id="TenLoaiSP" name="TenLoaiSP" placeholder="Tên loại sản phẩm" class="form-control" value="@Model.TenLoaiSP"/>
            </div>
            <div class="col-12 mb-3">
                <button type="submit" class="btn btn-primary">Sửa</button>
                <a href="/Admin/Category/Index/" class="btn btn-light">Trở lại trang chủ</a>
            </div>
        </div>
    </form>
</div>

